<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Purchase Order System</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/dashboard']"
            >Dashboard ({{ currentUserRole }})</a
          >
        </li>

        <!-- Show "Create PO" if the user has the "User" role -->
        <li class="nav-item" *ngIf="currentUserRole === 'User'">
          <a class="nav-link" [routerLink]="['/create-po']">Create PO</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <!-- Show "Notifications" for roles 2, 3, 4 -->
        <li
          class="nav-item"
          *ngIf="
            currentUserRole === 'Team Lead' ||
            currentUserRole === 'Department Manager' ||
            currentUserRole === 'Finance Manager'
          "
        >
          <a class="nav-link" [routerLink]="['/notifications']"
            >Notifications</a
          >
        </li>

        <!-- Logout button -->
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
