<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12 offset-sm-4 col-sm-3 mb-3">
        <label for="username" class="form-label"><b>Username:</b></label>
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-12 offset-sm-4 col-sm-3 mb-3">
        <label for="password" class="form-label"><b>Password:</b></label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          id="password"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-12 offset-sm-4 col-sm-3 mb-3">
        <label for="role" class="form-label"><b>Select Role:</b></label>
        <select class="form-control" formControlName="role">
          <option value="2">Team Lead</option>
          <option value="3">Department Manager</option>
          <option value="4">Finance Manager</option>
          <option value="5">User</option>
        </select>
      </div>
    </div>

    <!-- Error Message Display -->
    <div *ngIf="errorMessage" class="row">
      <div class="col-12 offset-sm-4 col-sm-3 mb-3">
        <div class="alert alert-danger">{{ errorMessage }}</div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 offset-sm-4 col-sm-3 mb-3">
        <div class="d-grid justify-content-center">
          <button type="submit" class="btn btn-success mb-1">Register</button>
        </div>
      </div>
    </div>
  </form>
</div>
